.plp-menu-row .plp-right-nav .plp-sections {
    margin-top: 0;
}

.mob-plp-sections, .plp-sections {
    position: relative;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.sopac-medium-menu-container {
    background-color: #fff;
}

.sopac-medium-menu-container .medium-category-name {
    font-family: "National 2 Condensed";
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    padding-top: 3.75rem;
}

.sopac-medium-menu-container .medium-category-name h1, .sopac-medium-menu-container .medium-category-name h2 {
    font-weight: 700;
    color: #000;
    font-size: 44px;
    line-height: 58px;
}

.sopac-medium-menu-container .product-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.sopac-medium-menu-container .product-container .product-card-active {
    cursor: pointer;
    z-index: 50;
}

.sopac-medium-menu-container .product-container .medium-menu-product-card {
    position: relative;
    width: 31%;
    max-height: 315px;
    font-family: "National 2 Regular";
    background: #fff;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 1.875rem;
}

.product-image-parent-container {
    line-height: 0 !important;
    width: 100%;
    padding-top: 75%;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sopac-medium-menu-container .product-container .medium-menu-product-card .medium-menu-product-image {
    width: 90%;
    margin-bottom: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-image-parent-container img {
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    position: absolute;
    margin: auto !important;
    display: block;
    transition: all .7s;
    -webkit-transition: all .7s;
    transform: scale(.9);
    transition: all .5s cubic-bezier(.4, 0, .2, 1);
    animation-name: cf3FadeInOut;
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    animation-duration: .5s;
    animation-direction: alternate;
}

.sopac-medium-menu-container .product-container .medium-menu-product-card .discount-product-ribbon {
    position: absolute;
    top: 3%;
    left: -12%;
    transform: scaleX(1.5);
    z-index: 1;
}

.sopac-medium-menu-container .product-container .medium-menu-product-card .discount-ribbon-text {
    position: absolute;
    left: 0;
    top: 3%;
    font-family: "National 2 Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #e4002b;
    z-index: 1;
}

.sopac-medium-menu-container .product-container .medium-menu-product-card .menu-card-content {
    margin-left: 11px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.sopac-medium-menu-container .product-container .medium-menu-product-card .menu-card-content .menu-product-header {
    font-family: "National 2 Medium";
    color: #202124;
    white-space: nowrap;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sopac-medium-menu-container .product-container .medium-menu-product-card .menu-card-content .Price-and-KJ-info {
    display: block;
}

@media (min-width: 1023px) {
    .product-image-parent-container {
        margin-bottom: 15px;
    }
}